#name {
  margin-top: 12px;
  /* text-align: center; */
  /* font-size: 18px; */
  text-transform: capitalize;
}
.ant-modal-body img:hover {
  cursor: pointer;
  zoom: 1.3;
}
.ant-modal-body {
  overflow-y: scroll;
  max-height: 300px;
}
